---
component: Contact - Social media Block
--- 

<div class="p-cta-social">
    <hr>
    <div class="container">
        <div class="row">

            <div class="col-sm-6 hidden-xs">
                <h3>{{global.social.ctatext.contact}}</h3>
            </div>

            <div class="col-sm-6 col-xs-12 p-cta-social__icons right xs-center">
                <div class=""> 
                    <a target="_blank"  href="{{global.social.urls.twitter}}"><i class="ion-social-twitter"></i></a>
                    <a target="_blank"  href="{{global.social.urls.googleplus}}"><i class="ion-social-googleplus"></i></a>
                    <a target="_blank"  href="{{global.social.urls.linkedin}}"><i class="ion-social-linkedin-outline"></i></a>
                    <a target="_blank"  href="{{global.social.urls.github}}"><i class="ion-social-github"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>